include ../mixins/tip
main.main
  form#form.form
    .form__layout
      .form__field
        label(for="bill").form__label Bill
        input(type="text" id="bill").form__input
      fieldset.form-tips
        legend.form-tips__title Select Tip %
        for per in locals.percentages
          +tip(per)
        input(type="text" id="" placeholder="Custom").form-tips__input.form-tips__input--is-visible
      .form__field
        label(for="bill").form__label Number of People
        input(type="number").form__input
    .form__layout
      .display-tip 
        .display-tip__text Person 
        .display-tip__number 0
      .display-total 
        .display-tip__text Total 
        .display-tip__number 0
      button(type="reset").form__reset Reset