include ../mixins/tip
main.main
  form#form.form
    .form__layout(role="heading" aria-level="1")
      .form__field
        label(for="bill").form__label Bill
        input(type="text" id="bill" name="bill").form__input
      fieldset.form-tips
        legend.form-tips__title Select Tip %
        for per in locals.percentages
          +tip(per)
        input(type="text" id="custom-tip" placeholder="Custom" name="tip").form-tips__input.form-tips__input--is-visible
      .form__field
        label(for="num-person").form__label Number of People
        input(type="number" value="0" min="1" title="Can't be zero" id="num-person" name="person").form__input
    .layout
      .layout__container
        .layout__text Tip Amount
          span.layout__span / person
        .layout__number#tip-amount $0.00
      .layout__container
        .layout__text Total
          span.layout__span / person
        .layout__number#total-person $0.00
      input(type="reset" value="RESET").layout__button