main.main
  form#form.form
    label(for="bill").form__label Bill
    input(type="text" id="bill").form__input
    fieldset.tips 
      legend.tip__title Select Tip %
      input(type="radio" value="5" id="5%" name="tip").form__input.form__input--is-hidden
      label(for="5%").form__label 5%
      input(type="radio" value="10" id="10%" name="tip").form__input.form__input--is-hidden
      label(for="10%").form__label 10%
      input(type="radio" value="15" id="15%" name="tip").form__input.form__input--is-hidden
      label(for="15%").form__label 15%
      input(type="radio" value="25" id="25%" name="tip").form__input.form__input--is-hidden
      label(for="25%").form__label 25%
      input(type="radio" value="50" id="50%" name="tip").form__input.form__input--is-hidden
      label(for="50%").form__label 50%
      input(type="radio" id="custom" value="" name="tip").form__input.form__input--is-hidden
      label(for="custom").form__label Custom
    label(for="bill").form__label Number of People
    input(type="number").form__input
  .layout
    .layout-tip 
      .layout-tip__text Person 
      .layout-tip__number 0
    .layout-total 
      .layout-tip__text Total 
      .layout-tip__number 0
  button(type="reset").form__reset Reset