@use '../abstracts/variables.scss' as c;
@use '../abstracts/mixins.scss' as mx;
@use '../abstracts/functions.scss' as fx;

html {
  box-sizing: border-box;
  font-size: 1rem;
  background-color: c.$bg;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Space Mono", monospace;
  min-height: 100vh;
}
