//Usar el objeto locals para que webpack use las variables pug

-locals.pageTitle= 'Tip Calculator App'


//- SEO
-locals.author = 'Carlos Díaz'
-locals.twitterName = 'Perfil de twitter'
-locals.type = 'website'
-locals.description = 'Plantilla base para compilar html, css y javascript'
-locals.keywords = 'Las, keyword, van, separadas, por, coma'
-locals.url = 'La url en el servidor ej: http://www.miweb.com'
-locals.image = url + 'la ruta de la imágen (puede ser un screen de la web)'

-locals.percentages= ['5%','10%','15%','25%','50%']