@use '../abstracts/variables.scss' as c;
@use '../abstracts/mixins.scss' as mx;

.main {
  background-color: c.$white;
  border-radius: 15px;
  padding: 1.5rem;
  @include mx.point('sm') {
    margin-right: auto;
    margin-left: auto;
    max-width: 75vw;
    padding: 2rem;
  }
  @include mx.point('lg') {
    max-width: 60vw;
  }
}
